.App {
  text-align: center;

}

.Conteiner {
  width: 60%;
  height: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2.5rem;
  background-color: black;
  color: azure;
  border-radius: 10%;
}

.imgWeather {
  display: flex;
  line-height: normal;
  text-align: center;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  margin-left: 2%;
}


.cloud {
  width: 200px;
}

.degees {
  margin-top: -20px;
}

.contentImg {
margin: 10px;
}

 .ContentData{
  margin: 10px;
  margin-top: 20px;
 }

 button {
   margin-top: 20px;
 }